@font-face {
  font-family: 'The Artisan';
  src: url('https://cdn-resource.cinelove.me/fonts/webfonts/the-artisan/the-artisan.woff2') format('woff2'),
       url('https://cdn-resource.cinelove.me/fonts/webfonts/the-artisan/the-artisan.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}