@font-face {
  font-family: 'Sunshine Script';
  src: url('https://cdn-resource.cinelove.me/fonts/webfonts/sunshine-script/sunshine-script.woff2') format('woff2'),
       url('https://cdn-resource.cinelove.me/fonts/webfonts/sunshine-script/sunshine-script.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}